<a href="https://colab.research.google.com/github/s2tandu0p/lol_win_predict/blob/main/Project_2_Part_2_Core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
ytrain_data = pd.read_csv('/content/drive/MyDrive/Personal/Dojo/data/lol win predict/lol-prediction/lol.y_train.csv')
xtrain_data = pd.read_csv('/content/drive/MyDrive/Personal/Dojo/data/lol win predict/lol-prediction/lol.x_train.csv')

In [4]:
ytrain_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  180000 non-null  int64
 1   blueWins    180000 non-null  int64
dtypes: int64(2)
memory usage: 2.7 MB

In [5]:
xtrain_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 49 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               180000 non-null  int64
 1   gameDuraton              180000 non-null  int64
 2   blueFirstBlood           180000 non-null  int64
 3   blueFirstTower           180000 non-null  int64
 4   blueFirstBaron           180000 non-null  int64
 5   blueFirstDragon          180000 non-null  int64
 6   blueFirstInhibitor       180000 non-null  int64
 7   blueDragonKills          180000 non-null  int64
 8   blueBaronKills           180000 non-null  int64
 9   blueTowerKills           180000 non-null  int64
 10  blueInhibitorKills       180000 non-null  int64
 11  blueWardPlaced           180000 non-null  int64
 12  blueWardkills            180000 non-null  int64
 13  blueKills                180000 non-null  int64
 14  blueDeath                180000 non-null  int64
 15  blueAssist               180000 non-null  int64
 16  blueChampionDamageDealt  180000 non-null  int64
 17  blueTotalGold            180000 non-null  int64
 18  blueTotalMinionKills     180000 non-null  int64
 19  blueTotalLevel           180000 non-null  int64
 20  blueAvgLevel             180000 non-null  float64
 21  blueJungleMinionKills    180000 non-null  int64
 22  blueKillingSpree         180000 non-null  int64
 23  blueTotalHeal            180000 non-null  int64
 24  blueObjectDamageDealt    180000 non-null  int64
 25  redFirstBaron            180000 non-null  int64
 26  redFirstDragon           180000 non-null  int64
 27  redFirstInhibitor        180000 non-null  int64
 28  redDragonKills           180000 non-null  int64
 29  redBaronKills            180000 non-null  int64
 30  redTowerKills            180000 non-null  int64
 31  redInhibitorKills        180000 non-null  int64
 32  redWardPlaced            180000 non-null  int64
 33  redWardkills             180000 non-null  int64
 34  redKills                 180000 non-null  int64
 35  redDeath                 180000 non-null  int64
 36  redAssist                180000 non-null  int64
 37  redChampionDamageDealt   180000 non-null  int64
 38  redTotalGold             180000 non-null  int64
 39  redTotalMinionKills      180000 non-null  int64
 40  redTotalLevel            180000 non-null  int64
 41  redAvgLevel              180000 non-null  float64
 42  redJungleMinionKills     180000 non-null  int64
 43  redKillingSpree          180000 non-null  int64
 44  redTotalHeal             180000 non-null  int64
 45  redObjectDamageDealt     180000 non-null  int64
 46  Rank_Challenger          180000 non-null  int64
 47  Rank_GrandMaster         180000 non-null  int64
 48  Rank_Master              180000 non-null  int64
dtypes: float64(2), int64(47)
memory usage: 67.3 MB

In [6]:
df = pd.merge(xtrain_data, ytrain_data, on='Unnamed: 0', how='inner')

In [7]:
df.head()

   Unnamed: 0  gameDuraton  ...  Rank_Master  blueWins
0           0         1906  ...            0         1
1           1         1454  ...            1         1
2           2         1449  ...            0         0
3           3         1832  ...            1         0
4           4         1098  ...            1         0

[5 rows x 50 columns]

I noticed that all are num data.

I'm not sure if the dataset fits the requirement of this assignment.

I'm going to wait on the reply for assignment Project 2_Part 1 and then come back.